# Input output

In [ ]:
# input()

In [2]:
name = input()

govind

In [3]:
name

'govind'

In [1]:
number = input (
)

1 2 3 4 5

In [2]:
type(number)

str

In [4]:
numberslist = number.split( )

In [7]:
numberslist

['1', '2', '3', '4', '5']

In [6]:
number = input("Print 5 numbers")

Print 5 numbers1 2 3 4 5

In [8]:
number

'1 2 3 4 5'

In [9]:
print('5'*6)

555555

In [11]:
print('5'*6)

555555

In [14]:
print(1,2,3,4, sep = " , ", end = "\n")
print(1,2,3,4, sep = " , ", end = "\n")
print(1,2,3,4, sep = " , ", end = "\n")
print(1,2,3,4, sep = " , ", end = "\n")
print(1,2,3,4, sep = " , ", end = "\n")

1 , 2 , 3 , 4
1 , 2 , 3 , 4
1 , 2 , 3 , 4
1 , 2 , 3 , 4
1 , 2 , 3 , 4

In [21]:
for i in "python":
    print(i, sep = ',', end = " + ")

p + y + t + h + o + n +

# Variable

In [30]:
valid_#  = "firstvar"  # it is not valid

NameError: name 'valid_' is not defined

In [31]:
1var # not valid

SyntaxError: invalid syntax (<ipython-input-31-3067e98f7a5d>, line 1)

In [32]:
valid = "firstvar"

In [34]:
var  1 = 50 # not valid

SyntaxError: invalid syntax (<ipython-input-34-f1257b7f7288>, line 1)

In [35]:
# assigning function

In [36]:
var = print

In [37]:
print(print)

<built-in function print>

In [43]:
var = sum
print(var)

<built-in function sum>

In [44]:
# Class assignment

In [47]:
class myclass:
    pass

In [48]:
first_Class_obj = myclass()

In [53]:
print("this is object class " + first_Class_obj)

SyntaxError: invalid syntax (<ipython-input-53-ce612142a8a3>, line 1)

In [54]:
print(range(3))

range(0, 3)

In [57]:
num = input()
number  = int(num)

2

In [58]:
print(type(num))
print(type(number))

<class 'str'>
<class 'int'>

In [59]:
id0, id1, id2 = range(3)

In [60]:
print(id0, id1, id2)

0 1 2

In [131]:
# isinstance(object, class)

In [62]:
isinstance(2, int)

True

In [63]:
isinstance(2.5, int)

False

In [65]:
isinstance("game",str)

True

In [68]:
# How to find string index?

"abcde".index("c")

2

In [70]:
i in "python"

True

In [71]:
# join the  string
cst = " ".join(['1',"2","3"])

In [72]:
cst

'1 2 3'

In [77]:
# split the string

"12345".split()

['12345']

In [79]:
"1,2,3,4,5".split(":")

['1,2,3,4,5']

In [82]:
# formatting

print("I am looking for a {} and a {}".format("job","wife"))
print("I am looking for a {x} and a {y}".format(y="job",x="wife"))

I am looking for a job and a wife
I am looking for a wife and a job

In [86]:
# only empty string is false
print(bool(""))
print(bool("a"))
print(bool(1))

False
True
True



# Loops

In [96]:
for i in "Python":
    print("i:"+ i)

i:P
i:y
i:t
i:h
i:o
i:n

In [97]:
fruits = ["apple","guava","banana"]

In [98]:
for fruit in fruits:
    print(fruit)

apple
guava
banana

In [102]:
# loop with items

for fruit in fruits:
    no_of_alphabet = 0 
    for alphabet in fruit:
        no_of_alphabet +=1
    print("This fruit : {} is {} length long".format(fruit,no_of_alphabet))

This fruit : apple is 5 length long
This fruit : guava is 5 length long
This fruit : banana is 6 length long

In [105]:
# Loop with index and item both enumerate key word

for index, fruit in enumerate(fruits):
    print("Index is :{}".format(index))
    print("fruit is :{}".format(fruit))
    print("___________________________")

Index is :0
fruit is :apple
___________________________
Index is :1
fruit is :guava
___________________________
Index is :2
fruit is :banana
___________________________

In [106]:
# help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [118]:
# for loop for upto n or with 
for i in range(1,10,2):
    print(i, end = " ")

1 3 5 7 9

In [117]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

In [126]:
for i in range(3,5):
    print(i, end = " ")

3 4

In [129]:
# While loop 

fruits = ["apple","guava","banana"]
i = 0 
while i < len(fruits):
    print("i : {} fruit : {}".format(i,fruits[i]))
    print("____________________")
    i = i +1

i : 0 fruit : apple
____________________
i : 1 fruit : guava
____________________
i : 2 fruit : banana
____________________

In [140]:
for i in range(1,3):
    for j in range(1,3):
        print("{}*{}: {}".format(i,j,i*j)  )

1*1: 1
1*2: 2
2*1: 2
2*2: 4

In [163]:
number = int(input("which no table you want?"))


for i in range(1,11):
    print("{}   * {}   :   {}".format(i,number,number*i ))

which no table you want?1
1   * 1   :   1
2   * 1   :   2
3   * 1   :   3
4   * 1   :   4
5   * 1   :   5
6   * 1   :   6
7   * 1   :   7
8   * 1   :   8
9   * 1   :   9
10   * 1   :   10

In [171]:
for i in range(2 ** 2):
    print("Mis")

Mis
Mis
Mis
Mis

In [172]:
for i in range(-6):
    print("Mis")

In [173]:
result = 0
n = 5
for i in range(1, n + 1):
    result += i
    # this ^^ is the shorthand for
    # result = result + i
print(result)

15

In [176]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [149]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [177]:
i =int(input("press no "))

if i == 1 :
    print(1)
elif i == 2 :
    print(2)
else:
    print("None")

press no 2
2

In [178]:
# function 
def add(a,b):
    return a+b

In [180]:
print(add(2,3))

5

In [181]:
# Lists 
companies = [["wipro","tcs","infosys"],["facebok","linkedin","twitter"]]

In [182]:
companies

[['wipro', 'tcs', 'infosys'], ['facebok', 'linkedin', 'twitter']]

In [184]:
print(companies[0][1], sep = ',', end = " ")

tcs

In [185]:
# Method over python list
# Creating an empty list = 

social_media   =  []

In [186]:
social_media

[]

In [189]:
# add hacker earth to social media
social_media.append("facebook")
social_media.append("twitter")
social_media.append("kaggle")

In [190]:
social_media

['facebook', 'facebook', 'twitter', 'kaggle']

In [191]:
social_media[2] #check what is in position 2

'twitter'

In [194]:
# Extend the list 
newl = ["comp1 " , "comp2 "]

social_media.extend(newl)

social_media

['facebook',
 'facebook',
 'twitter',
 'kaggle',
 'comp1 ',
 'comp2 ',
 'comp1 ',
 'comp2 ']

In [195]:
# find index 
languagelist = ['haskell', 'clojure', 'apl', 'scala', 'F#']

In [197]:
languagelist.index('apl')

2

In [201]:
# remove element by pop and remove
languagelist.remove('apl')

ValueError: list.remove(x): x not in list

In [202]:
languagelist

['haskell', 'clojure', 'scala', 'F#']

In [204]:
languagelist.pop(0)

'haskell'

In [207]:
#sort 
some_numbers = [4,3,5,1]
some_numbers.sort()
some_numbers

[1, 3, 4, 5]

In [217]:
# reverse
some_numbers.reverse()
some_numbers

[5, 4, 3, 1]

In [210]:
# these were methods they are associated with object but functions are not 
# now - - -- - - - 
# some functions over list 

len(some_numbers)

4

In [211]:
some_numbers

[1, 3, 4, 5]

In [213]:
# enumerate 

for index, num in enumerate(companies):
    print(index,num)

0 ['wipro', 'tcs', 'infosys']
1 ['facebok', 'linkedin', 'twitter']

In [219]:
# get sorted list but original remain unchanged 
print(some_numbers)

print(sorted(some_numbers))

print(some_numbers)

[5, 4, 3, 1]
[1, 3, 4, 5]
[5, 4, 3, 1]

 Dictionaries

In [221]:
myinfo = {'name' : "Govind", 'location' : "jbp", 'work' : " unemployed"}

In [223]:
myinfo['name']

'Govind'

In [224]:
# we can also use get method
myinfo.get('name')

'Govind'

In [227]:
# get the value with key 2. Pass “default” as default. Since key 2 does not exist, you get “default” as the return value.

print(myinfo.get(2, "default"))

default

In [231]:
# .key() method
myinfo.keys()

dict_items([('name', 'Govind'), ('location', 'jbp'), ('work', ' unemployed')])

In [232]:
# .items() method
myinfo.items()

dict_items([('name', 'Govind'), ('location', 'jbp'), ('work', ' unemployed')])

In [235]:
for k,v in myinfo.items():
    print("k is {}".format(k))
    print("v is {}".format(v))
    print("_________________")

k is name
v is Govind
_________________
k is location
v is jbp
_________________
k is work
v is  unemployed
_________________

In [236]:
# make empty dictionary 

dictmyinfo  = {}

In [237]:
dictmyinfo

{}

In [238]:
# adding eleent 
dictmyinfo["name"] = "Govind"

In [239]:
dictmyinfo["number"] = "8823011424"
dictmyinfo[" city "] = "JBP"
dictmyinfo["country"] ="India"

In [244]:
dictmyinfo.get('name')

'Govind'

In [248]:
smallinfo = {"key":"value",1:"one"}
# adding one dictionary to another .update method
dictmyinfo.update(smallinfo)

In [249]:
dictmyinfo

{'name': 'Govind',
 'number': '8823011424',
 ' city ': 'JBP',
 'country': 'India',
 'key': 'value',
 1: 'one'}

In [253]:
# delete
del dictmyinfo["key"]

In [254]:
dictmyinfo

{'name': 'Govind',
 'number': '8823011424',
 ' city ': 'JBP',
 'country': 'India',
 1: 'one'}

In [257]:
# deleting a non existent key gives key error.
'''So, instead of the del statement you can use the pop method.
This method takes in the key as the parameter. As a second argument,
you can pass the default value if the key is not present.'''

'So, instead of the del statement you can use the pop method.\nThis method takes in the key as the parameter. As a second argument,\nyou can pass the default value if the key is not present.'

In [259]:
print(dictmyinfo.pop('city',None))

In [260]:
dictmyinfo.has_key(1)

AttributeError: 'dict' object has no attribute 'has_key'

In [262]:
alphabets = {1: 'a'}

In [264]:
# has keey removed in python 3 
# alphabets.has_key(1)

In [266]:
'''
Lists and tuples are standard Python data types that store values in a sequence. Sets are another standard
Python data type that also store values. The major difference is that sets, unlike lists or tuples, cannot have
multiple occurrences of the same element and store unordered values.
'''

'\nLists and tuples are standard Python data types that store values in a sequence. Sets are another standard\nPython data type that also store values. The major difference is that sets, unlike lists or tuples, cannot have\nmultiple occurrences of the same element and store unordered values.\n'

In [267]:
'''
Sets
A set is an unordered collection data type with no duplicate elements. Sets are iterable and mutable. 
The elements appear in an arbitrary order when sets are iterated.

Sets are commonly used for membership testing, removing duplicates entries, and also for operations such as intersection,
union, and set difference.
'''

#empty set 

setA = set()

In [269]:
print(setA)
print(type(setA))

set()
<class 'set'>

In [270]:
setA = set("dharmasamrajyam")

In [272]:
 print(setA) #setA is having only unique value from dharmasamrajyam

{'a', 'h', 'r', 'm', 'y', 'j', 's', 'd'}

In [273]:
#creating a list with set of numbers
setA = set([1, 2, 3, 4, 5, 6, 7, 7, 7])

In [2]:
setA = set([1, 2, 3, 4, 5, 6, 7, 7, 7])
print(setA) # set will give unique values only

{1, 2, 3, 4, 5, 6, 7}

In [8]:
# setA.add() vs setA.update([ ])
setA.add(9)
setA.add((10,11))

setA.update([11,12])

In [12]:
setA.update([11,12]) # we need to pass the list

In [11]:
setA

{(10, 11), 1, 11, 12, 2, 3, 4, 5, 6, 7, 9}

In [13]:
#removing values from a Set discard() and remove() 
## discard doesn’t do anything is value to be discarded is not present
setA.discard(10)

In [16]:
setA.discard((10,11))

In [17]:
setA

{1, 2, 3, 4, 5, 6, 7, 9, 11, 12}

In [18]:
setA.remove(13)

KeyError: 13

touple

In [20]:
#touple is not set because we do not use value function , < set() > to create it.
my_touple = 1,2,3,4

In [21]:
# copy and clear methods

newsetA = setA.copy()

In [22]:
newsetA

{1, 2, 3, 4, 5, 6, 7, 9, 11, 12}

In [23]:
#clear

newsetA.clear()

In [24]:
newsetA

set()

In [25]:
setA

{1, 2, 3, 4, 5, 6, 7, 9, 11, 12}

In [27]:
setA.pop()

1

In [29]:
setA

{2, 3, 4, 5, 6, 7, 9, 11, 12}

In [32]:
setB=set([11,12,13,14,15])
setB

{11, 12, 13, 14, 15}

In [38]:
# set operations

In [39]:
setA.intersection(setB)

{11, 12, 13, 14, 15}

In [40]:
setA

{2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15}

In [41]:
setA.update(setB)

In [42]:
setA

{2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15}

In [45]:
setA.difference(setB)

{2, 3, 4, 5, 6, 7, 9}

In [46]:
setA

{2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15}

In [49]:
setA.isdisjoint(setB) #false as both have common element

False

In [50]:
setC=set()

In [51]:
#difference of A and B 
setA.difference_update(setB)

In [58]:
setA

{2, 3, 4, 5, 6, 7, 9}

In [61]:
# is subset? is superset
setC = set([1,2,3,4])

setA.issubset(setC)

False

In [60]:
setA.issuperset(setC)

False

List comprehension

In [62]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

dictionary comprehension

In [65]:
{x :x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [66]:
# generator expression
(x for x in range(10))

In [68]:
x = "1" if True else "2"
x

'1'

Class

In [73]:
class A:
    pass
obj1 = A()
print(obj1)

<__main__.A object at 0x000002BFC06B8700>

In [75]:
class A:                      # class A
    name = "govind"           #Attribute of class
obj1 = A()                    #instantiate the class
print(obj1.name)

govind

In [82]:
# method to change the name
class A:
        name = 'govind'
        def changename(self,newname):   # note that the first argument is self 
            self.name = newname         # access the class attribute with the self keyword

In [83]:
obj1  = A()

In [84]:
obj1.name

'govind'

In [85]:
obj1.changename("Pratap")

In [86]:
obj1.name

'Pratap'


# Instance attributes in python and the init method

You can also provide the values for the attributes at runtime. This is done by defining the attributes
inside the init method. The following example illustrates this.

In [87]:
class Snake:
    def __init__(self,name):
        self.name = name
    def changename(self,new_name):
        self.name = new_name

        
python = Snake("python")

In [88]:
python

In [2]:
print(print(print(print)))

<built-in function print>
None
None

In [1]:
# Count no of pairs


arr = [6, 5, 2, 3, 5, 2, 2, 1]
len(arr)

In [2]:
print(len(arr))

8

# ''' Python allows the classes to inherit commonly used attributes and methods from other classes through inheritance.
We can define a base class in the following manner:'''

In [4]:
class Rocket:
    def __init__(self,name,distance):
        self.name = name
        self.distance = distance
        
    def launch(self):
        return "{} Rocket reached{} distance".format(self.name,self.distance)

    
class MarsRover(Rocket):   #inheriting Rocket
    def __init__(self,name,distance,maker):
        self.maker=maker
        Rocket.__init__(self,name,distance)
        
    def get_maker(self):
        return "{} launched by {}".format(self.name,self.maker)

In [5]:
if __name__ == "__main__":
    x = Rocket("simple rocket", "till stratosphere")
    y = MarsRover("mars_rover", "till Mars", "ISRO")
    print(x.launch())
    print(y.launch())
    print(y.get_maker())

simple rocket Rocket reachedtill stratosphere distance
mars_rover Rocket reachedtill Mars distance
mars_rover launched by ISRO

# What is composition
In composition, we do not inherit from the base class but establish relationships between classes through the use of instance variables that are references to other objects.

class GenericClass:
    define some attributes and methods

class ASpecificClass:
    Instance_variable_of_generic_class = GenericClass

# use this instance somewhere in the class
    some_method(Instance_variable_of_generic_class)

In [6]:
class MarsRoverComp():
    def __init__(self, name, distance, maker):
        self.rocket = Rocket(name, distance) # instantiating the base

        self.maker = maker

    def get_maker(self):
        return "%s Launched by %s" % (self.rocket.name, self.maker)

In [7]:
if __name__ == "__main__":
    z = MarsRover("mars_rover2", "till Mars", "ISRO")
    print(z.launch())
    print(z.get_maker())

mars_rover2 Rocket reachedtill Mars distance
mars_rover2 launched by ISRO

In [9]:



# Error Handling

In [10]:
try:
    print("In the try block.")
    print(1/0)
except:
    print("In the except block.")
    print(1/1)
finally:
    print("This is final block")

In the try block.
In the except block.
1.0
This is final block

In [15]:
try:
    a=int(input())
    if(a<=0):
        raise ValueError("Please put second no greater than zero")
    else:
        print("number/ is correct")
except ValueError as e:
    print(e)

7
number/ is correct

In [17]:



# Python Iterators, generators, and the for loop

In [20]:







#for lib in popular_python_libs:
#     print(lib)

[1, 2, 3]

# Functions as first class objects in python:

sing functions as first class objects means to use them in the same manner that you use data. So, You can pass them as parameters like passing a function to another function as an argument. For example, in the following example you can pass the int function as a parameter to map function.

In [22]:
list(map(int, ["1", "2", "3"]))

[1, 2, 3]

You can assign them to variables and return them. For example, in the following code, you can assign the function hello_world, and then the variable will be executed as a function

In [23]:
def hello_world(h):
    def world(w):
        print(h,w)
    return world # returning function

In [24]:
h = hello_world

In [25]:
x = h("hello")

In [26]:
x

In [28]:
x("world")

hello world

In [29]:
#python functional purity below function is  sum(list)

def native_sum(list):
    s=0
    for l in list:
        
        s+=l
    return s

In [31]:
list = [1,2,3,4,5]

In [32]:
sum(list)

15

In [33]:
native_sum(list)

15

In [36]:
# loop a function normally vs python 
def func(x):
    pass
l = [1,2,3,4]
for x in l:
    func(x)
    
    
# equal python function is 
map(func, l ) #“map the function to the list

In [ ]:
'''def func1():
    pass

def func2():
    pass

def func3():
    pass

executing = lambda f: f()
map(executing, [func1, func2, func3]) '''

Please note that this does not actually run the functions but returns a lazy map object. You need to pass this object to a list or any other eager function to have the code executed.

# Recursion

Recursion is a method of breaking a problem into subproblems which are essentially of the same type as the original problem. You solve the base problems and then combine the results. Usually this involves the function calling itself.

Python functions support recursion and hence you can utilize the dynamic programming constructs in the code to optimize them. Recursion basically needs to fulfill two conditions. There should be a condition where the recursion should end, and it should call itself for all other conditions. The end condition should be limiting; i.e, the functions should call smaller versions of themselves.

Example: The following code generates Fibonacci numbers through recursion.

In [38]:
def fib(n):
    if n ==0: return 0
    elif n ==1: return 1
    else: return fib(n-1)+fib(n-2)

In [39]:
fib(4)

3

SyntaxError: invalid syntax (<ipython-input-40-0418611dbaf2>, line 1)

In [41]:
# define a function `call` where you provide the function and the arguments
def call(x, f):
    return f(x)

# define a function that returns the square
square = lambda x : x*x

# define a function that returns the increment
increment = lambda x : x+1

# define a function that returns the cube
cube = lambda x : x*x*x

# define a function that returns the decrement
decrement = lambda x : x-1

# put all the functions in a list in the order that you want to execute them
funcs = [square, increment, cube, decrement]

In [43]:
# bring it all together. Below is the non functional part. 
# in functional programming you separate the functional and the non functional parts.
from functools import reduce # reduce is in the functools library
print(reduce(call, funcs, 96))

783012621312

A small example showing how to convert procedural code into functional code:

Let us go through a small example where you try to refactor procedural code into functional. In the below example, you have a starting number which gets squared, the result is incremented by 1 and the result of that is raised to the power of 3, the code then takes the decrement. Note that the code works in steps

In [44]:
# procedural code
starting_number = 96

# get the square of the number
square = starting_number ** 2

# increment the number by 1
increment = square + 1

# cube of the number
cube = increment ** 3

# decrease the cube by 1
decrement = cube - 1

# get the final result
result = print(decrement) # output 783012621312

783012621312

The same procedural code can be written functionally. Note that unlike the code above instead of giving explicit instructions on how to do it, you are giving instructions on what to do. The functions below operate at a higher plane of abstraction

In [47]:
# define a function `call` where you provide the function and the arguments
def call(x, f):
    return f(x)

# define a function that returns the square
square = lambda x : x*x

# define a function that returns the increment
increment = lambda x : x+1

# define a function that returns the cube
cube = lambda x : x*x*x

# define a function that returns the decrement
decrement = lambda x : x-1

# put all the functions in a list in the order that you want to execute them
funcs = [square, increment, cube, decrement]

# bring it all together. Below is the non functional part. 
# in functional programming you separate the functional and the non functional parts.
from functools import reduce # reduce is in the functools library
print(reduce(call, funcs, 96),end = " " , sep = ", " )

783012621312

In [48]:
# Higher order function and Decorators

In [52]:
# Functions as arguments

def summations(nums): #normal function
    return sum(nums)

def main(f, *args): #function as an argument
    result = f(*args)
    print(result)
    
if __name__ == "__main__":
    main(summations,[1,2,3]) #output 6

6

In [53]:
# Having a function as a return value

def add_tw0_nums(x, y): # normal function which returns data
    return x + y

def add_three_nums(x, y, z): # normal function which returns data
    return x + y + z

def get_appropriate_function(num_len): # function which returns functions depending on the logic
    if num_len == 3:
        return add_three_nums
    else:
        return add_tw0_nums


if __name__ == "__main__":
    args = [1, 2, 3]
    num_len = len(args)
    res_function = get_appropriate_function(num_len)
    print(res_function)       # <function add_three_nums at 0x7f8f34173668>
    print(res_function(*args)) # unpack the args, output 6

    args = [1, 2]
    num_len = len(args)
    res_function = get_appropriate_function(num_len)
    print(res_function)       # <function add_tw0_nums at 0x7f1630955e18>
    print(res_function(*args)) # unpack the args, output 3

<function add_three_nums at 0x0000021430211CA0>
6
<function add_tw0_nums at 0x0000021430211F70>
3

Python closures
Let’s now look at how closures are created in Python. A closure is a way of keeping alive a variable even when the function has returned. So, in a closure, a function is defined along with the environment. In Python, this is done by nesting a function inside the encapsulating function and then returning the underlying function.

In [54]:
def add_5():
    five = 5

    def add(arg): # nesting functions
        return arg + five
    return add

if __name__ == '__main__':
    closure1 = add_5()
    print(closure1(1)) # output 6
    print(closure1(2)) # output 7

6
7

Python decorators
Now, using the these ways of writing, Python code can be used to create decorators. Python decorators are convenient ways to make changes to the functionality of code without making changes to the code. A decorator is written as a function closure and implemented by giving the “@” operator on top of the function. The skeleton of a Python decorator is shown below.

In [56]:
def my_decorator(f):
    # write your code here or your wrapping function
    # return the wrapping function
    pass

@my_decorator
def my_code(args):
    # original functionality
    pass

In [57]:
# example


def my_code(args):
    return {lang: args}

In [58]:
def my_code(args):
    return{"lang":args}

print(my_code("python"))

{'lang': 'python'}

In [59]:

# want to build the additional functionality of checking if the return value is a dict. In this case, you can use a decorator.

In [60]:
def check(f):
...     def wrapper(*args, **kwargs):
...         res = f(*args, **kwargs)
...         if isinstance(res, dict):
...             print("checked that the return value is dict")
...             return res
...     return wrapper

In [61]:
@check
def my_code(args):
    return{"lang":args}

In [62]:
print(my_code("python"))

checked that the return value is dict
{'lang': 'python'}

# Panda = "Panel Data", and "Python Data Analysis"

In [1]:
#pandas as pd

In [3]:
# importing pandas in name called pd

import pandas as pd

# Creating a dictionary with key and values 

dataset = { 'care_name' : ['kwid','ford','bmw'], 'passing' : ['3','7','2']
    
}

In [4]:
my_dataframe = pd.DataFrame(dataset)

In [5]:
my_dataframe

  care_name passing
0      kwid       3
1      ford       7
2       bmw       2

In [6]:
print(pd.__version__)

1.1.3

# What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [8]:
a = [1,2,3]

In [9]:
first_series = pd.Series(a)

In [12]:
print(first_series) #pandas series is like a column in table

0    1
1    2
2    3
dtype: int64

In [13]:
# this can be searched by lables

In [14]:
print(first_series[0])

1

In [15]:
# WE can also create our own labels :
first_series = pd.Series(a,index=['a','b','c'])

In [16]:
first_series

a    1
b    2
c    3
dtype: int64

In [19]:
first_series['a']

1

In [30]:
# Pandas Dataframe


import pandas as pd

data = {
    "column1":[200,100,300],
    "column2":[10,20,30]
    
}


#_------------------------
data.get("column1")
data.keys()
data['column1']

[200, 100, 300]

In [25]:
# load data into a dataframe object
df = pd.DataFrame(data)

In [26]:
df

   column1  column2
0      200       10
1      100       20
2      300       30

In [32]:
df.loc[0]  #locate row

column1    200
column2     10
Name: 0, dtype: int64

In [ ]:
#This example returns a Pandas Series.

In [34]:
df.loc[[0,1]]

   column1  column2
0      200       10
1      100       20

In [35]:
#When using [], the result is a Pandas DataFrame.

In [42]:
# import pandas as pd

df = pd.read_csv('data.csv',index_col=0)

print(df)

   column1  column2
0      200       10
1      100       20
2      300       30

In [44]:
df.to_csv("data.csv") # this will create and download the data as csv
df.to_json("data.json")# this will create and download the data as json

In [51]:
df = pd.read_json('data.json')

In [52]:
print(df.to_string())

   column1  column2
0      200       10
1      100       20
2      300       30

In [53]:
# use to_string() to print the entire DataFrame.

In [55]:
import pandas as pd
# Load a Python Dictionary into a DataFrame:

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [56]:
# Pandas analyzing data

In [57]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [58]:
df = pd.read_csv('https://www.w3schools.com/python/pandas/data.csv.txt')

In [60]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [61]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [62]:
# info 
df.info()
#The result tells us there are 169 rows and 4 columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

# Cleaning data

Data cleaning means fixing bad data in your data set.

Bad data could be:

1 Empty cells
2 Data in wrong format
3 Wrong data
4 Duplicates

In [63]:
df = pd.read_csv('https://www.w3schools.com/python/pandas/dirtydata.csv.txt')

In [64]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

One way to deal with empty cells is to remove rows that contain empty cells.

In [66]:
new_df =df.dropna()

In [70]:
new_df.to_string()

"    Duration          Date  Pulse  Maxpulse  Calories\n0         60  '2020/12/01'    110       130     409.1\n1         60  '2020/12/02'    117       145     479.0\n2         60  '2020/12/03'    103       135     340.0\n3         45  '2020/12/04'    109       175     282.4\n4         45  '2020/12/05'    117       148     406.0\n5         60  '2020/12/06'    102       127     300.0\n6         60  '2020/12/07'    110       136     374.0\n7        450  '2020/12/08'    104       134     253.3\n8         30  '2020/12/09'    109       133     195.1\n9         60  '2020/12/10'     98       124     269.0\n10        60  '2020/12/11'    103       147     329.3\n11        60  '2020/12/12'    100       120     250.7\n12        60  '2020/12/12'    100       120     250.7\n13        60  '2020/12/13'    106       128     345.3\n14        60  '2020/12/14'    104       132     379.3\n15        60  '2020/12/15'     98       123     275.0\n16        60  '2020/12/16'     98       120     215.2\n17        60  '2020/12/17'    100       120     300.0\n19        60  '2020/12/19'    103       123     323.0\n20        45  '2020/12/20'     97       125     243.0\n21        60  '2020/12/21'    108       131     364.2\n23        60  '2020/12/23'    130       101     300.0\n24        45  '2020/12/24'    105       132     246.0\n25        60  '2020/12/25'    102       126     334.5\n26        60      20201226    100       120     250.0\n27        60  '2020/12/27'     92       118     241.0\n29        60  '2020/12/29'    100       132     280.0\n30        60  '2020/12/30'    102       129     380.3\n31        60  '2020/12/31'     92       115     243.0"

In [71]:
#If you want to change the original DataFrame, use the inplace = True argument:

In [72]:

df.dropna(inplace = True)

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [73]:
# Replace NULL values with the number 130
df.fillna(130, inplace = True)

Replace Only For a Specified Columns
The example above replaces all empty cells in the whole Data Frame.

In [75]:
df = pd.read_csv('https://www.w3schools.com/python/pandas/dirtydata.csv.txt')

df["Calories"].fillna(130, inplace = True)

In [90]:
# replace with mean median or mode
df = pd.read_csv("https://www.w3schools.com/python/pandas/dirtydata.csv.txt")

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [92]:
x = df["Calories"].mean()
df["Calories"].fillna(x,inplace = True)

In [93]:
x

304.68

Mean = the average value (the sum of all values divided by number of values).

Median = the value in the middle, after you have sorted all values ascending.

Mode = the value that appears most frequently.

 Data cleaning of wrong format

In [95]:
df.head()

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
22        45        NaT    100       119    282.00
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [96]:
df.dropna(subset = ['Date'],inplace = True)

In [97]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [98]:
# Wrong Data like one day = 25 hour
df.loc[7,'Duration'] = 45

In [102]:
#For small data sets you might be able to replace the wrong data one by one, but not for big data sets.
#To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

for x in df.index:
    if df.loc[x,"Pulse"] > 100:
        df.loc[x,"Pulse"] = 100

In [108]:
# Delete row maximum pulse is less than 100

for x in df.index:
    if df.loc[x,"Duration"] > 120:
        df.drop(x,inplace = True)

In [112]:
df.duplicated() #12 th is duplicate

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [113]:
df.drop_duplicates(inplace = True)

In [114]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    100       130    409.10
1         60 2020-12-02    100       145    479.00
2         60 2020-12-03    100       135    340.00
3         45 2020-12-04    100       175    282.40
4         45 2020-12-05    100       148    406.00
5         60 2020-12-06    100       127    300.00
6         60 2020-12-07    100       136    374.00
7         45 2020-12-08    100       134    253.30
8         30 2020-12-09    100       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    100       147    329.30
11        60 2020-12-12    100       120    250.70
13        60 2020-12-13    100       128    345.30
14        60 2020-12-14    100       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    100       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    100       131    364.20
23        60 2020-12-23    100       101    300.00
24        45 2020-12-24    100       132    246.00
25        60 2020-12-25    100       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    100       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    100       129    380.30
31        60 2020-12-31     92       115    243.00

In [115]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.090609 -0.296585  0.338213
Pulse     0.090609  1.000000  0.414397  0.314003
Maxpulse -0.296585  0.414397  1.000000  0.329600
Calories  0.338213  0.314003  0.329600  1.000000

What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.